<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-3">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <span style="color: white; line-height: 35px"> | </span>
      <a class="nav-item nav-link" routerLink="/about">About</a
      ><span style="color: white; line-height: 35px"> | </span>
      <a class="nav-item nav-link" routerLink="/contact">Contact</a>
    </div>
  </nav>
  <div style="border: 2px solid black; margin-top: 10px; min-height: 500px">
    <router-outlet></router-outlet>
  </div>
</div>
